# hw1
hw1-ImageClassification/2021VRDL_HW1_datasets/

# hw2
hw2-ObjectDetection/datasets/
hw2-ObjectDetection/checkpoints/

# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
hw2-ObjectDetection/**/*.jpg
hw2-ObjectDetection/**/*.jpeg
hw2-ObjectDetection/**/*.png
hw2-ObjectDetection/**/*.bmp
hw2-ObjectDetection/**/*.tif
hw2-ObjectDetection/**/*.tiff
hw2-ObjectDetection/**/*.heic
hw2-ObjectDetection/**/*.JPG
hw2-ObjectDetection/**/*.JPEG
hw2-ObjectDetection/**/*.PNG
hw2-ObjectDetection/**/*.BMP
hw2-ObjectDetection/**/*.TIF
hw2-ObjectDetection/**/*.TIFF
hw2-ObjectDetection/**/*.HEIC
hw2-ObjectDetection/**/*.mp4
hw2-ObjectDetection/**/*.mov
hw2-ObjectDetection/**/*.MOV
hw2-ObjectDetection/**/*.avi
hw2-ObjectDetection/**/*.data
hw2-ObjectDetection/**/*.json
hw2-ObjectDetection/**/*.cfg
!hw2-ObjectDetection/**/setup.cfg
!hw2-ObjectDetection/**/cfg/yolov3*.cfg

hw2-ObjectDetection/**/storage.googleapis.com
hw2-ObjectDetection/**/runs/*
hw2-ObjectDetection/**/data/*
!hw2-ObjectDetection/**/data/hyps/*
!hw2-ObjectDetection/**/data/images/zidane.jpg
!hw2-ObjectDetection/**/data/images/bus.jpg
!hw2-ObjectDetection/**/data/*.sh

hw2-ObjectDetection/**/results*.csv

# Datasets -------------------------------------------------------------------------------------------------------------
hw2-ObjectDetection/**/coco/
hw2-ObjectDetection/**/coco128/
hw2-ObjectDetection/**/VOC/

# MATLAB GitIgnore -----------------------------------------------------------------------------------------------------
hw2-ObjectDetection/**/*.m~
hw2-ObjectDetection/**/*.mat
hw2-ObjectDetection/**/!targets*.mat

# Neural Network weights -----------------------------------------------------------------------------------------------
hw2-ObjectDetection/**/*.weights
hw2-ObjectDetection/**/*.pt
hw2-ObjectDetection/**/*.pb
hw2-ObjectDetection/**/*.onnx
hw2-ObjectDetection/**/*.mlmodel
hw2-ObjectDetection/**/*.torchscript
hw2-ObjectDetection/**/*.tflite
hw2-ObjectDetection/**/*.h5
hw2-ObjectDetection/**/*_saved_model/
hw2-ObjectDetection/**/*_web_model/
hw2-ObjectDetection/**/darknet53.conv.74
hw2-ObjectDetection/**/yolov3-tiny.conv.15

# hw3
# Byte-compiled / optimized / DLL files
hw3-InstanceSegmentation/**/__pycache__/
hw3-InstanceSegmentation/**/*.py[cod]
hw3-InstanceSegmentation/**/*$py.class

# C extensions
hw3-InstanceSegmentation/**/*.so

# Distribution / packaging
hw3-InstanceSegmentation/**/.Python
hw3-InstanceSegmentation/**/build/
hw3-InstanceSegmentation/**/develop-eggs/
hw3-InstanceSegmentation/**/dist/
hw3-InstanceSegmentation/**/downloads/
hw3-InstanceSegmentation/**/eggs/
hw3-InstanceSegmentation/**/.eggs/
hw3-InstanceSegmentation/**/lib/
hw3-InstanceSegmentation/**/lib64/
hw3-InstanceSegmentation/**/parts/
hw3-InstanceSegmentation/**/sdist/
hw3-InstanceSegmentation/**/var/
hw3-InstanceSegmentation/**/wheels/
hw3-InstanceSegmentation/**/*.egg-info/
hw3-InstanceSegmentation/**/.installed.cfg
hw3-InstanceSegmentation/**/*.egg
hw3-InstanceSegmentation/**/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
hw3-InstanceSegmentation/**/*.manifest
hw3-InstanceSegmentation/**/*.spec

# Installer logs
hw3-InstanceSegmentation/**/pip-log.txt
hw3-InstanceSegmentation/**/pip-delete-this-directory.txt

# Unit test / coverage reports
hw3-InstanceSegmentation/**/htmlcov/
hw3-InstanceSegmentation/**/.tox/
hw3-InstanceSegmentation/**/.coverage
hw3-InstanceSegmentation/**/.coverage.*
hw3-InstanceSegmentation/**/.cache
hw3-InstanceSegmentation/**/nosetests.xml
hw3-InstanceSegmentation/**/coverage.xml
hw3-InstanceSegmentation/**/*.cover
hw3-InstanceSegmentation/**/.hypothesis/
hw3-InstanceSegmentation/**/.pytest_cache/

# Translations
hw3-InstanceSegmentation/**/*.mo
hw3-InstanceSegmentation/**/*.pot

# Django stuff:
hw3-InstanceSegmentation/**/*.log
hw3-InstanceSegmentation/**/local_settings.py
hw3-InstanceSegmentation/**/db.sqlite3

# Flask stuff:
hw3-InstanceSegmentation/**/instance/
hw3-InstanceSegmentation/**/.webassets-cache

# Scrapy stuff:
hw3-InstanceSegmentation/**/.scrapy

# Sphinx documentation
hw3-InstanceSegmentation/**/docs/_build/

# PyBuilder
hw3-InstanceSegmentation/**/target/

# Jupyter Notebook
hw3-InstanceSegmentation/**/.ipynb_checkpoints

# pyenv
hw3-InstanceSegmentation/**/.python-version

# celery beat schedule file
hw3-InstanceSegmentation/**/celerybeat-schedule

# SageMath parsed files
hw3-InstanceSegmentation/**/*.sage.py

# Environments
hw3-InstanceSegmentation/**/.env
hw3-InstanceSegmentation/**/.venv
hw3-InstanceSegmentation/**/env/
hw3-InstanceSegmentation/**/venv/
hw3-InstanceSegmentation/**/ENV/
hw3-InstanceSegmentation/**/env.bak/
hw3-InstanceSegmentation/**/venv.bak/

# Spyder project settings
hw3-InstanceSegmentation/**/.spyderproject
hw3-InstanceSegmentation/**/.spyproject

# Rope project settings
hw3-InstanceSegmentation/**/.ropeproject

# mkdocs documentation
hw3-InstanceSegmentation/**/site

# mypy
hw3-InstanceSegmentation/**/.mypy_cache/

# hw3-InstanceSegmentation/**/data/
# hw3-InstanceSegmentation/**/data
# !hw3-InstanceSegmentation/data/nuclei/test/*
hw3-InstanceSegmentation/**/.vscode
hw3-InstanceSegmentation/**/.idea
hw3-InstanceSegmentation/**/.DS_Store

# custom
hw3-InstanceSegmentation/**/*.pkl
hw3-InstanceSegmentation/**/*.pkl.json
hw3-InstanceSegmentation/**/*.log.json
hw3-InstanceSegmentation/**/work_dirs/

# Pytorch
hw3-InstanceSegmentation/**/*.pth
hw3-InstanceSegmentation/**/*.py~
hw3-InstanceSegmentation/**/*.sh~

# hw4
# Datasets
hw4-ImageSuperResolution/**/dataset/

# ------

# macOS file system files
**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
